### Assessment

In [1]:
# Importing necessary libraries

In [2]:
# necessary libraries
import numpy as np
import pandas as pd

### Creating Log for the source code:

In [3]:
# exporting log messages to an external log file called test_log.log:
import logging
logger = logging.getLogger()
fhandler = logging.FileHandler(filename='test_log.log', mode='a')
logger.addHandler(fhandler)
logging.warning('This is a warning message')

### Log file saved externally

### Finding Average marks and Grading according to grade Score

In [4]:
data=pd.read_csv('input.csv',delimiter=',', header=None, skiprows=1, names=['Name','Surname','Algebra', 'Calculus', 'Programming', 'Databases']) #Display the dataset 
data.head()

    Name   Surname  Algebra  Calculus  Programming  Databases
0    Joe      Soap       92        78           65         67
1   Jane       Doe       81        79           83         89
2   Mary   Poppins       63        52           65         71
3  Mario     Rossi       23        42           50         44
4   John     Smith       56        67           72         72

In [5]:
d=data[['Algebra', 'Calculus', 'Programming', 'Databases']]

In [6]:
Average1 = d.mean(axis=1)
Average=Average1.round(1)
print (Average)

0    75.5
1    83.0
2    62.8
3    39.8
4    66.8
5    63.8
6    48.2
7    58.5
8    75.8
9    86.8
dtype: float64

In [7]:

d['Average']= Average
d.head()

<ipython-input-7-6138c17961bb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['Average']= Average

   Algebra  Calculus  Programming  Databases  Average
0       92        78           65         67     75.5
1       81        79           83         89     83.0
2       63        52           65         71     62.8
3       23        42           50         44     39.8
4       56        67           72         72     66.8

In [10]:
d['Grade'] = np.where(d['Average'] >=80, 'A', 
             np.where((d['Average'] >=70) & (d['Average'] <=79.9 ),'B', 
             np.where((d['Average'] >=60) & (d['Average']<=69.9 ),'C', 
             np.where((d['Average'] >=50) & (d['Average'] <=59.9 ),'D',
             np.where((d['Average'] >=40) & (d['Average'] <=49.9 ),'E',
             np.where((d['Average'] >=0) & (d['Average'] <=39.9 ), 'U', 1))))))

In [14]:
print (d)

   Algebra  Calculus  Programming  Databases  Average Grade
0       92        78           65         67     75.5     B
1       81        79           83         89     83.0     A
2       63        52           65         71     62.8     C
3       23        42           50         44     39.8     U
4       56        67           72         72     66.8     C
5       81        62           53         59     63.8     C
6       41        48           51         53     48.2     E
7       55        55           66         58     58.5     D
8       57        87           95         64     75.8     B
9       97        91           86         73     86.8     A

### Unit Test for Average Grade score

In [11]:
import unittest

In [12]:
# create a class
class TestXXXXX(unittest.TestCase):
   
      # define a function
    def test_xxxxxxx(self):
       
        data = [63,52, 65, 71]
        result = mean(data)
        self.assertEqual(result, 62.75)
 
# driver code
if __name__ == '__main__':
   
    unittest.main()

E
======================================================================
ERROR: C:\Users\matlo\AppData\Roaming\jupyter\runtime\kernel-5d1aeec0-efe3-4256-86f9-99b636e66e95 (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute 'C:\Users\matlo\AppData\Roaming\jupyter\runtime\kernel-5d1aeec0-efe3-4256-86f9-99b636e66e95'

----------------------------------------------------------------------
Ran 1 test in 0.002s

FAILED (errors=1)

SystemExit: True

C:\Users\matlo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3445: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

   Algebra  Calculus  Programming  Databases  Average Grade
0       92        78           65         67     75.5     B
1       81        79           83         89     83.0     A
2       63        52           65         71     62.8     C
3       23        42           50         44     39.8     U
4       56        67           72         72     66.8     C
5       81        62           53         59     63.8     C
6       41        48           51         53     48.2     E
7       55        55           66         58     58.5     D
8       57        87           95         64     75.8     B
9       97        91           86         73     86.8     A

In [ ]:
#d.to_csv('output.csv', index=False)

In [ ]:
# Check f the output csv works:

In [ ]:
#df=pd.read_csv('output.csv') #Display the dataset 
#df.head()